<div class="card bg-dark">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Ajouter un nouveau genre') }}</button>
        {{ form_end(form) }}
    </div>
</div>