{% extends 'base.html.twig' %}

{% block title %}Editer Genre{% endblock %}

{% block body %}
    <h1>Editer Genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('genre_index') }}">Retour vers la liste</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
