{% extends 'base.html.twig' %}

{% block title %}Nouveau Genre{% endblock %}

{% block body %}
    <h1>Créer un nouveau Genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('genre_index') }}">Retour vers la liste</a>
{% endblock %}
