{% extends 'sub_base.html.twig' %}

{% block title %}Nouveau Genre{% endblock %}
{% block subtitle %}Ajouter un nouveau genre{% endblock %}
{% block subnav %}
    <a class="btn btn-primary" href="{{ path('genre_index') }}">Retour</a>
{% endblock %}
{% block body %}

    {{ include('genre/_form.html.twig') }}
{% endblock %}
