{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="px-4 py-5 my-5 text-center" data-controller="hello">
        <img class="d-block mx-auto mb-4" src="{{ asset('build/img/book.png') }}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Bookland</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Bookland est une librairie qui répertorie tout les livres par genres et par auteurs.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form method="get" action="{{ path('init') }}">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Initialiser le projet</button>
                </form>
            </div>
            <p class="lead mt-4">
                {% if init_loaded is defined %}
                    {% if init_loaded %}
                        Initialisation effectuée !
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}
