{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="presentation">
        <div class="row">
            <div class="col-lg left mx-3 mb-3">
                Bookland est une librairie qui répertorie tout les livres.
            </div>
            <div class="col-lg left mx-3 mb-3">

            </div>
        </div>
    </div>

{% endblock %}
