{% extends 'sub_base.html.twig' %}

{% block title %}New Livre{% endblock %}
{% block subtitle %}Ajouté un nouveau livre{% endblock %}
{% block subnav %}
    <a class="btn btn-primary" href="{{ path('livre_index') }}">Retour</a>
{% endblock %}
{% block body %}

    {{ include('livre/_form.html.twig') }}

{% endblock %}
