{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between
    flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" data-controller="livre">
        <h1 class="h2">Ajouté un nouveau livre</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-primary" href="{{ path('livre_index') }}">Retour</a>
            </div>
        </div>
    </div>

    {{ include('livre/_form.html.twig') }}

{% endblock %}
