body {
    color: white;
    background: white
    linear-gradient(90deg, rgba(69, 170, 242, 1) 0%, rgba(75, 123, 236, 1) 47%, rgba(56, 103, 214, 1) 100%);
}

*
{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

nav
{
    font-weight: 100;
    background: rgb(0,0,0);
}

.table
{
    margin-bottom: 0;
}

.table-bordered
{
    border-radius: 16px;
    margin: 0 0 16px 0;
}

main {
    margin: 32px;
}