{% extends 'sub_base.html.twig' %}

{% block title %}New Auteur{% endblock %}
{% block subtitle %}Ajouter un nouvel auteur{% endblock %}
{% block subnav %}
    <a class="btn btn-primary" href="{{ path('auteur_index') }}">Retour</a>
{% endblock %}
{% block body %}

    {{ include('auteur/_form.html.twig') }}

{% endblock %}
